{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-3 ml-1">
            <h1>Aktivitas</h1>
            <div id="aktivitas" class="border border-dark">
                <h3>Gaming</h3>
                <div>
                    <p>
                    Gaming adalah salah satu kegiatan favorit saya. Game-game yang saya mainkan biasanya
                    bergenre battle-arena, rpg, dan beberapa game classic ataupun game lucu dan unik.
                    Berikut beberapa game yang akhir-akhir ini saya mainkan:
                    </p>
                    <ol class="ml-3">
                        <li>Pokemon</li>
                        <li>Clash Royale</li>
                        <li>Hearth Stone</li>
                        <li>HoTS</li>
                        <li>Dota 2</li>
                        <li>Star Craft</li>
                    </ol>
                </div>
    
                <h3>Kuliah</h3>
                <div>
                    <p>
                    Salah satu kegiatan saya yang paling banyak memakan waktu adalah kuliah. Selain memakan waku
                    dan tenaga, kuliah juga memakan kebahagiaan. Namun, dengan kuliah, semua waktu, tenaga, dan kebahagiaan yang 
                    sudah diinvestasikan akan memberikan ilmu dan kemampuan yang menunjang masa depan. Topik perkuliahan yang saya ambil pada 
                    semester ini adalah:
                    </p>
                    <ol class="ml-3">
                        <li>MatDas 2</li>
                        <li>StatProb</li>
                        <li>PPW</li>
                        <li>SDA</li>
                        <li>POK</li>
                    </ol>
                </div>
    
                <h3>Makan</h3>
                <div>
                    <p>
                    Sudah bukan rahasia umum, makan adalah cara melepas stress yang luar biasa nikmat. Saya sangat menikmati 
                    kegiatan ini. Namun, sangat sedikit <i>spot-spot</i> makanan yang tergolong enak di UI dan daerah sekitar kos saya. 
                    Berikut spot makanan yang sering saya kunjungi selama berkuliah:
                    </p>
                    <ol class="ml-3">
                        <li>Kantin Pacil</li>
                        <li>Kantin FIB</li>
                        <li>Kantin RIK</li>
                        <li>Samtari - Kutek</li>
                        <li>Kantinku - Kutek</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="col-sm-5 ml-1">
            <h1>Pengalaman</h1>
            <div id="pengalaman" class="border border-dark ">
                <h3>Organisasi - BEM</h3>
                <div>
                    <p>
                    BEM adalah singkatan dari Badan Eksekutif Mahasiswa. BEM terdiri atas banyak biro yang bertanggung 
                    jawab terhadap bidangnya masing-masing. Biro yang saya ikuti adalah PTI (Pengembangan Teknologi Informasi). 
                    Di PTI, saya bertemu dengan banyak teman yang baik dan asik. Pengalaman yang diperoleh dari PTI cukup banyak 
                    dan semoga dapat bermanfaat bagi masa depan saya.
                    </p>
                </div>
    
                <h3>Panitia - Compfest</h3>
                <div>
                    <p>
                    Compfest adalah acara tahunan yang diadakan oleh Fasilkom UI. Compfest memiliki berbagai divisi kepanitiaan 
                    yang masing-masing bertanggung jawab terhadap bidangnya masing-masing. Bidang yang saya ikuti adalah kompetisi, yaitu CTF.
                    CTF adalah kepanjangan dari <i>Capture The Flag</i>, yaitu lomba menangkap bendera yang bisa diperoleh dengan melakukan beberapa 
                    hal tricky.
                    </p>
                </div>
    
                <h3>Panitia - Wisuda Ganjil</h3>
                <div>
                    <p>
                    Wisuda adalah hari yang dinanti-nanti mahasiswa. Dengan wisuda, mahasiswa diberikan gelar dan memiliki status yang disandang. 
                    Beberapa pekerjaan baru pun akan menjadi terbuka dengan gelar yang telah disandang. Wisuda Ganjil merupakan event pelepasan mahasiswa 
                    yang lulus pada periode 2017 akhir. Dari S1, mayoritasnya adalah angkatan Omega yang lulus 3,5 tahun. Motivasi saya mengikuti acara ini 
                    adalah keinginan pribadi. Melalui event ini, saya belajar memanage acara sebab saya adalah anggta divisi acara.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-3 ml-1">
                <h1>Prestasi</h1>
                <div id="prestasi" class="border border-dark">
                    <h3>Prestasi 1</h3>
                    <div>
                        <p>
                        Prestasi: Ditolak FKUI.
                        </p>
                    </div>
        
                    <h3>Prestasi 2</h3>
                    <div>
                        <p>
                        Prestasi: Masuk Fasilkom.
                        </p>
                    </div>
                </div>
            </div>
    </div>
</div>



{% endblock %}