body {
    background-color: rgba(227, 240, 106, 0.534);
}
.ui-accordion-content {
    width: 100%;
    background-color: white;
    color: rgb(112, 112, 112);
    font-size: 10pt;
    line-height: 16pt;
  }

.ui-accordion-header{
    background-color: orange;
}

#loading {
    display:    block;
    position:   fixed;
    z-index:    10000;
    top:        48vh;
    left:       48vw;
    height:     100%;
    width:      100%;
    background-image: url('http://i.stack.imgur.com/FhHRx.gif');
    background-repeat: no-repeat;
}
