{% extends '_base.html' %}
{% load static %}
{% block content %}

{% if user.is_authenticated %}
<div class="row">
    <div class="col-md-6">
        <h1>Hello, welcome {{ user.username }}!</h1>
        <h3 id="bintang">Favorite count:</h3>
    </div>
    <a role="button" href="/logout/" class="btn btn-outline-danger">Logout</a>

</div>
<input type="text" id="search" class="input-group-text mb-4">
<button id="bukuBtn" class="btn btn-danger">Tampilkan</button>
<div class="row">
    <div class="col-md-10 p-2 m-1">
        <table id="tabel">

        </table>
    </div>
</div>
{% else %}
<a href="{% url 'story11_login' %}">Log in with google</a>
{% endif %}

{% endblock %}